<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALTERNA</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav>
            <picture>
                <a href="../index.html">
                    <img class="logo" src="../img/LOGO.png" alt="no funciona">
                </a>
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">HOME</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="../views/remeras.html">REMERAS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="../views/buzos.html">BUZOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="../views/contacto.html">CONTACTO</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="../views/carrito.html">CARRITO</a>
                </li>
            </ul>
            <section class="header__icon">
                    <a class="menu__link" href=""><span class="iconify" data-icon="emojione-monotone:shopping-cart" data-flip="horizontal"></span></a>
                    <a class="menu__link" href=""><span class="iconify" data-icon="fa:user" data-flip="horizontal"></span></a>
            </section>
        </nav>
    </header> 
    <section>
        <div class="buzos">
        <img class="buzos__foto" src="../img/buzoestoymuyebria.jpeg" alt="no funciona" width="25%">
        <img class="buzos__foto" src="../img/buzobellota.jpg" alt="no funciona" width="25%">
        <img class="buzos__foto" src="../img/buzoelgrito.jpeg" alt="no funciona" width="25%">
        <img class="buzos__foto" src="../img/buzobritney.jpg" alt="no funciona" width="25%">
        <img class="buzos__foto" src="../img/buzolisanecesitafrenos.jpeg" alt="no funciona" width="25%">
        <img class="buzos__foto" src="../img/buzohannahmontana.jpg" alt="no funciona" width="25%">
        <img class="buzos__foto" src="../img/buzofrasefriends.jpg" alt="no funciona" width="25%">
        <img class="buzos__foto" src="../img/buzostopmakingdrama.jpeg" alt="no funciona" width="25%">
        </div>
        <div class="button__productos">
            <a class="button__productos--link" href=""><span class="iconify" data-icon="emojione-monotone:keycap-1"></span></a>
            <a class="button__productos--link" href=""><span class="iconify" data-icon="emojione-monotone:keycap-2"></span></a>
            <a class="button__productos--link" href=""><span class="iconify" data-icon="emojione-monotone:keycap-3"></span></a>
        </div>
    </section>
    <section class="whatsapp">
        <a href=""><span class="iconify" data-icon="logos:whatsapp"></span></a> 
    </section>
    <footer>
        <div>
            <span class="sectionfooter__titulos">ACERCA DE</span>
            <ul class="sectionfooter__list">
                <li>
                    <a class="sectionfooter__list--link" href="">Alterna</a>
                </li>
                <li>
                    <a class="sectionfooter__list--link" href="">Terminos y Condiciones</a>
                </li>
                <li>
                    <a class="sectionfooter__list--link" href="">Politicas de Privacidad</a>
                </li>
            </ul>
        </div>
        <div>
            <span class="sectionfooter__titulos">AYUDA</span>
            <ul class="sectionfooter__list">
                <li>
                    <a class="sectionfooter__list--link" href="">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a class="sectionfooter__list--link" href="">Compra Mayorista</a>
                </li>
                <li>
                    <a class="sectionfooter__list--link" href="">Contacto</a>
                </li>
            </ul>
        </div>
        <div>
            <p class="sectionfooter__titulos">SEGUINOS</p>
            <a class="rs__link" href=""><span class="iconify" data-icon="akar-icons:instagram-fill" style="color: white;"></span></a>
            <a class="rs__link" href=""><span class="iconify" data-icon="entypo-social:facebook" style="color: white;"></span></a>
            <a class="rs__link" href=""><span class="iconify" data-icon="ant-design:twitter-circle-filled" style="color: white;"></span></a>
        </div>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>